

    <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>My name is Kelvin Nguyen and I am a second semester student at Seneca's computer programming and analysis program. After graduating this program I am interested in working with databases or web development. Furthermore, I would also like to work in finTech or for the government. I am also a recent graduate from UTSG specializing in political science. In my free time I enjoy watching movies. My favorite movie is Blade Runner 2049.</p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Updates coming</p>
        </aside>
      </div>
    </div>

